*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.half-width{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 5%;
    
}

.half-width img{
    width: 100%;
    cursor: pointer;
    transition: .5s;
}
.half-width img:hover{
    width: 100%;
    cursor: pointer;
    transition: 1s;
    transform: scale(1.1);
}
.exp{
    float:left;
    width: 25%;
    margin-left: 5%;
    style="text-align:center;"

}
.exp img{
    width: 100%;
    cursor: pointer;
    transition: 1s;
}
.exp img:hover{
    width: 100%;
    cursor: pointer;
    transition: .5s;
    transform: scale(1.2);
    box-shadow:2px 2px 35px black;

}
section{
    height: 500px;
    padding-bottom: 300px;
}
.client{
    padding-bottom: 40px;
}
.d-button{
   margin-top:2 rem ;
}
.d-button-inner {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to right,blue,hotpink);
}
.d-button-inner h5 {
    font-size: 12px;
}

.d-button-inner h4 {
    font-size: 20px;
}
.name{
    color: hotpink;
    font-weight: bold;
    font-size: 30px;
}
.btn{
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 5px;
    background:linear-gradient(pink,blue);
    color: white;
    transition-timing-function: ease-in;
    margin: 10px 0px;
    transition: all 0.5s;
    

}

.btn:hover{
    text-decoration: none;
    padding: 10px 25px;
    background:linear-gradient(hotpink,green);
    transform: translate(-50px);
    color: white;
    margin: 10px;


}
.my-letest{
    text-align: center;
    margin: 50px;
    padding: 50px;
}
#top{
    margin-top: 15%;
}
.header{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    border-radius: 5px;
}
.biography{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    border-radius: 5px;
}
.work{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    border-radius: 5px;
}
.footer{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    border-radius: 5px;
}